<%= render :partial => "nav_default" %>

<h1>All Received Messages</h1>

<% if @messages.blank? %>
	<p>
		You have no messages.
	</p>
<% else %>
	<%= render :partial => "message_table" %>
<% end %>