<%= render :partial => "nav_default" %>

<h1>My Inbox</h1>

<% if @messages.blank? %>
	<p>
		You have no unread messages.
	</p>
<% else %>
	<%= render :partial => "message_table" %>
<% end %>