<p>
  <b>Course code:</b>
  <%= @course.course_code %>
</p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
	<b>Taught by:</b>
	<%= @course.professor_name %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>